body{
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;

    margin: 0;
    overflow: hidden;
}

.jscolck{
    background-color: #fff;
    width:300px;
    height: 200px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.display{
    font-size:30px;
}